@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
  --primary-color-500: hsl(158, 36%, 37%);
  --primary-color-700: hsl(158, 42%, 18%);

  --neutral-color-black: hsl(212 , 21% , 14%);
  --neutral-color-gray: hsl(228, 12%, 48%);
  --neutral-color-cream: hsl(30, 38%, 92%);
  --neutral-color-white: hsl(0, 0%, 100%);

  --body-font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  --h1-font-size: clamp(1.625rem, 1.3169rem + 1.3146vw, 2.5rem);

  --montserrat-font: "Montserrat", sans-serif;
  --montserrat-font-weight: normal;
  --montserrat-font-weight-medium: 500;
  --montserrat-font-weight-bold: 700;
  --font-style: normal;

  --fraunces-font: "Fraunces", serif;
  --fraunces-font-weight-bold: 700;
  --fraunces-font-variation-settings: "SOFT" 0, "WONK" 0;
} 

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
 display: grid;
 place-items: center; 
  background-color: var(--neutral-color-cream);
  font-family: var(--montserrat-font);
  color: var(--neutral-color-gray);
  min-height: 100vh;
  line-height: 1.5;
  padding-block: 2rem;
  font-weight: var(--montserrat-font-weight);
  font-style: var(--font-style);
  font-variation-settings: var(--fraunces-font-variation-settings);
  font-optical-sizing: auto;
  font-size: var(--body-font-size);
  transition: all 300ms ease-in-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
picture, img, video,
iframe,
webp{
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-top-left-radius: 1rem; 
  border-top-right-radius: 1rem;  
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var( --neutral-color-white);
  margin: 0  1.5rem;
  border-radius: 1rem; 
}

h1{
  font-family: var(--fraunces-font);
  font-weight: var(--fraunces-font-weight-bold);
  font-size: var(--h1-font-size);
  line-height: 1.2;
  margin-top: 1rem;
  color: var(--neutral-color-black);
  
}

p{
  margin: 1rem 0;
}

